<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!--Dao Mapping-->
    <bean id="powerDesignDao" class="com.NewVillage.daoimpl.PowerDesignDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="investigationSiteDao" class="com.NewVillage.daoimpl.InvestigationSiteDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="investigationWorkDao" class="com.NewVillage.daoimpl.InvestigationWorkDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="newVillageDao" class="com.NewVillage.daoimpl.NewVillageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="jobInfoDao" class="com.NewVillage.daoimpl.JobInfoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="employeeDao" class="com.NewVillage.daoimpl.EmployeeDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userDao" class="com.NewVillage.daoimpl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="costDao" class="com.NewVillage.daoimpl.CostDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="receiptDao" class="com.NewVillage.daoimpl.ReceiptDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="traceTableDao" class="com.NewVillage.daoimpl.TraceTableDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="designFileCheckDao" class="com.NewVillage.daoimpl.DesignFileCheckDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="checkDao" class="com.NewVillage.daoimpl.CheckDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="inspectionDao" class="com.NewVillage.daoimpl.InspectionDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="lotDao" class="com.NewVillage.daoimpl.LotDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="checkInfoDao" class="com.NewVillage.daoimpl.CheckInfoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="refileDao" class="com.NewVillage.daoimpl.RefileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="messageDao" class="com.NewVillage.daoimpl.MessageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="ExaminAtionDao" class="com.NewVillage.daoimpl.ExaminationDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="PowerDesignReplyDao" class="com.NewVillage.daoimpl.PowerDesignReplyDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="ProcessRecordDao" class="com.NewVillage.daoimpl.ProcessRecordDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!--Common-->

    <bean id="LoginAction" class="com.NewVillage.action.LoginAction">
        <property name="employeeDao" ref="employeeDao"></property>
    </bean>

    <!--顾珏-->
    <bean id="FinanceAction" class="com.NewVillage.action.FinanceAction">
        <property name="newVillageDao" ref="newVillageDao"></property>
        <property name="employeeDao" ref="employeeDao"></property>
        <property name="costdao" ref="costDao"></property>
        <property name="receiptdao" ref="receiptDao"></property>
        <property name="processRecordDao" ref="ProcessRecordDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="messageDao" ref="messageDao"></property>
    </bean>

    <!--张松顺-->
    <bean id="TraceTableAction" class="com.NewVillage.action.TraceTableAction">
        <property name="traceTableDao" ref="traceTableDao"></property>
        <property name="powerDesignReplyDao" ref="PowerDesignReplyDao"></property>
    </bean>

    <bean id="DesignFileCheckAction" class="com.NewVillage.action.DesignFileCheckAction">
        <property name="designFileCheckDao" ref="designFileCheckDao"></property>
        <property name="powerDesignDao" ref="powerDesignDao"></property>
        <property name="examinationDao" ref="ExaminAtionDao"></property>
        <property name="messageDao" ref="messageDao"></property>
        <property name="processRecordDao" ref="ProcessRecordDao"></property>
    </bean>

    <!--黄海琨-->

    <bean id="CounterAction" class="com.NewVillage.action.CounterAction">
        <property name="userDao" ref="userDao"></property>
        <property name="newVillageDao" ref="newVillageDao"></property>
        <property name="jobInfoDao" ref="jobInfoDao"></property>
        <property name="investigationWorkDao" ref="investigationWorkDao"></property>
        <property name="processRecordDao" ref="ProcessRecordDao"></property>
        <property name="costDao" ref="costDao"></property>
        <property name="powerDesignDao" ref="powerDesignDao"></property>
        <property name="powerDesignReplyDao" ref="PowerDesignReplyDao"></property>
    </bean>

    <bean id="InvestigatorAction" class="com.NewVillage.action.InvestigatorAction">
        <property name="investigationSiteDao" ref="investigationSiteDao"></property>
        <property name="investigationWorkDao" ref="investigationWorkDao"></property>
        <property name="newVillageDao" ref="newVillageDao"></property>
        <property name="processRecordDao" ref="ProcessRecordDao"></property>
        <property name="powerDesignDao" ref="powerDesignDao"></property>
        <property name="jobInfoDao" ref="jobInfoDao"></property>
    </bean>

    <bean id="PlanGroupAction" class="com.NewVillage.action.PlanGroupAction">
        <property name="powerDesignDao" ref="powerDesignDao"></property>
    </bean>

    <!--黄晓辉-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation" value="/WEB-INF/conf/hibernate.cfg.xml"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.connection.url">jdbc:mysql://121.42.197.31:3306/newvil</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
            </props>
        </property>
    </bean>

    <!-- 配置声明式事务管理（采用注解的方式） -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="edit*" propagation="REQUIRED"/>
            <tx:method name="find*" propagation="REQUIRED"/>
            <tx:method name="get*" propagation="REQUIRED"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="alladdmethod" expression="execution(* com.NewVillage.dao.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="alladdmethod"/>
    </aop:config>

</beans>